table {
    width: 100%;
  }
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  
  tr.example-detail-row {
    height: 0;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: rgb(233, 233, 233);
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #bdbdbd;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
 
  th, td {
  overflow: hidden;
  width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
body{
  font-size: 8px;
}